.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .name {
        font-size: 22px;
        line-height: 27px;
        font-weight: 500;
        margin: 0 0 4px;
    }

    .members {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .member {
            &:not(:first-child) {
                margin-left: -8px;
            }
        }
    }

    .actions {
        button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #f5f5f5;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img{
                width: 66%;
                display: block;
            }

            &:hover {
                .tooltip {
                    display: block;
                }
            }
        }
    }
}
