@keyframes fadeIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.container {
    margin: 20px 0 0;
    background: #6847d9;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    position: relative;

    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 16px;

        button {
            background: #efeefa1a;
            color: #fff;
            font-size: 36px;
            font-weight: 500;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(50% - 12px);
            height: 200px;
        }
    }

    .quest {
        height: 200px;
        margin: 0 0 16px;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: #efeefa1a;
        color: #fff;
        border-radius: 12px;
        padding: 30px 12px;

        .title {
            font-size: 32px;
            font-weight: 500;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        min-height: 56px;

        > button {
            background: 0;
            font-size: 15px;
            font-weight: 500;
            padding: 4px 12px;
            border-radius: 8px;
            color: #fff;
            border: 1px solid #fff;

            &.noBorder {
                border-color: transparent;
            }
        }

        .activeMember {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            .avatar {
                margin: 0 8px 0 0;
            }

            .username {
                font-weight: 500;
                text-transform: capitalize;
            }
        }

        .acceptMembers {
            display: flex;
            align-items: center;

            > span {
                margin: 0 8px 0 0;
            }

            .members {
                display: flex;
                align-items: center;

                .avatar {
                    &:not(:first-child) {
                        margin-left: -12px;
                    }
                }
            }
        }

        .note {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background: #f5f5f5;
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                display: block;
            }

            .tooltip {
                left: auto;
                transform: none;
                right: 0;
                top: auto;
                bottom: calc(100% + 4px);
            }

            &:hover {
                .tooltip {
                    display: block;
                }
            }
        }
    }

    .myTurn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.95);
        color: #fff;
        font-weight: 500;
        font-size: 36px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            animation: fadeIn linear 0.3s;
        }
    }
}
