.container {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #f5f5f5;
    border: 2px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
    background-position: center;
    background-size: cover;
    position: relative;

    .tooltip {
        text-transform: capitalize;
        top: calc(100% + 4px);
    }

    &:hover {
        .tooltip {
            display: block;
        }
    }
}
