.container {
    position: absolute;
    width: max-content;
    background: #222222;
    color: #fff;
    border-radius: 8px;
    padding: 2px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    left: 50%;
    top: calc(100% + 8px);
    transform: translateX(-50%);
    display: none;
}
