.container {
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    background: #6847d9;
    color: #fff;
    padding: 20px;
    border-radius: 16px;

    > h3{
        font-size: 30px;
        font-weight: 500;
        margin: 0 0 20px;
    }

    > div {
        font-size: 18px;
        line-height: 26px;
    }

    button{
        background: 0;
        color: #fff;
        background: #efeefa1a;
        border-radius: 12px;
        font-size: 20px;
        font-weight: 500;
        padding: 8px 16px;
        margin: 20px 0 0;
    }
}
