.appContainer {
    width: 588px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 33px 30px 0 rgba(0, 0, 0, 0.02);
    padding: 20px;

    *{
        box-sizing: border-box;
    }

    button{
        outline: 0;
        border: 0;
        cursor: pointer;
    }
}
