@font-face {
  font-family: CentraNo2;
  src: url("/src/assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: CentraNo2;
  src: url("/src/assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  background: #6356d71a;
  padding: 30px;

  * {
    font-family: CentraNo2;
  }
}
